/* * {
    border-width: 0px;
    border-color: green;
}

*:focus {
    border-color: red;
    border-width: 0px;
} */

.header {
    background-color: #3f393b;
    layout-type: row;
    height: 60px;
    child-space: 5px;
    col-between: 0px;
}

.header>.spacer {
    background-color: #242424;
    width: 1px;
    height: 60%;
    top: 1s;
    bottom: 1s;
}

.header>.control_bar {
    width: 1s;
}

.control_bar>label {
    font-size: 12pt;
    color: #a5a5a5;
    left: 10px;
}

.control_bar textbox {
    color: white;
}

.control_bar>.controls {
    child-space: 0px;
    col-between: 0px;
    bottom: 5px;
}

.control_bar>.controls>textbox {
    width: 40px;
    color: white;
    background-color: #3f393b;
    child-space: 1s;
}

.control_bar>.controls>label {
    color: white;
    child-space: 1s;
}

.control_bar>.controls>button {
    color: white;
    child-space: 1s;
}

.control_bar>.controls>dropdown {
    color: white;
    width: 100px;
}

button:disabled {
    color: #555555;
}

button:hover {
    background-color: #494546;
}

button:active {
    background-color: #302c2f;
}



check_button {
    color: white;
    /* center text */
    child-space: 1s;
}

dropdown label {
    child-space: 1s;
}

scroll_container {
    height: 1s;
    background-color: #403b3b;
}

scroll_container>.scrollbar {
    width: 0px;
    height: 0px;
}

textbox {
    color: white;
    background-color: #2a2527;
}

scroll_containerh {
    width: 1s;
    background-color: #4c4445;
}

scroll_containerh>.scrollbar {
    width: 0px;
    height: 0px;
}

scrollbar {
    background-color: #2a2527;
    border-width: 1px;
    border-color: #2b2728;
}

scrollbar>.front {
    background-color: #7e7677;
    border-radius: 3px;
}

knob {
    background-color: #d2cbd2;
    border-radius: 38px;
    border-width: 2px;
    border-color: #242424;
}

knob>.value_track {
    background-color: #101010;
    radius: 30px;
    span: 0px;
}

knob>.value_track>.active {
    background-color: #ffb74d;
}



